body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  min-height: 100vh;

  background: linear-gradient(
    to bottom,
    #178f64 0%,
    #078283 47.02%,
    #008fc3 96.03%
  );
  color: #fff;
}

table {
  border-color: #fff;
  width: 100%;
}
